Checks: >
  -*,
  bugprone-*,
  clang-analyzer-*,
  concurrency-*,
  modernize-*,
  performance-*,
  portability-*,
  cppcoreguidelines-init-variables,
  cppcoreguidelines-pro-type-member-init
WarningsAsErrors: >
  bugprone-*,
  clang-analyzer-*,
  concurrency-*,
  performance-*,
  portability-*
HeaderFilterRegex: '^(include|src)/'
FormatStyle: file
